[Unit]
Description=DartButton Controller
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /app/web.py

[Install]
WantedBy=multi-user.target