[Unit]
Description=DartButton - Controller
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /app/controller.py > /app/controller.log 2>&1

[Install]
WantedBy=multi-user.target