[Unit]
Description=DartButton - Controller
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/new_pi/controller.py > /home/pi/new_pi/controller.log 2>&1

[Install]
WantedBy=multi-user.target